body {
	font-family: 'Roboto Condensed', sans-serif;
}
p, a, h1, h2, h3, h4, li, span, div {
	-webkit-font-smoothing: subpixel-antialiased;
}

	.accordion {
		border-right: 1px solid rgba(0,0,0,0.8);
		border-left: 1px solid rgba(0,0,0,0.8);
	}
	.header:first-child {
		border-top: 1px solid rgba(0,0,0,0.8);
	}
	.header {
		border-bottom: 1px solid rgba(0,0,0,0.8);
		text-transform: uppercase;
		box-shadow: inset 0 0 10px rgba(0,0,0,0.1);
		background: rgba(0,0,0, 0.1);
		cursor: pointer;
	}
		.header span {
			margin-right: 10px;
			float: right;
		}

	.contents {
		display: none;
		box-shadow: inset 0 0 20px rgba(0,0,0,0.2);
		border-bottom: 1px solid rgba(0,0,0,0.8);
	}
		.contents p, .contents ul, .contents h3 {
			opacity: 0;
		}

		.contents li {
			list-style: circle;
		}

		.contents:last-child {
		}